/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-family: beekeepers, serif;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	color: var(--Cw);
	background-color: var(--Cp);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset */

:root{
	--Cp: rgb(32, 29, 29);
	--Cs: rgba(38, 44, 44, 0.5);
	--Ca: rgb(143, 58, 32);
	--Cw: rgb(255, 255, 255);
	--Fxl: 4rem;
	--Fl: 3rem;
	--Fm: 2rem;
	--Fs: 1.5rem;
}
button:active {
	color: var(--Ca);
}
:focus{
	outline: 1px solid var(--Ca);
}
button{
	border: none;
	background-color: transparent;
	color: var(--Cw);
}
article{
	min-height: 100vh;
	font-size: var(--Fs);
	padding-top: 8rem;
}
@font-face {
	font-family: "beekeepers";
	src: url(/fonts/beekeepers/TT2020Base-Regular.woff2) format("woff2");
	font-display: swap;
	unicode-range: U+000-5FF;
  }